/* LISTAS – EXPERIÊNCIA / SKILLS */
ul {
  margin-top: 0.75rem;
  padding-left: 1.2rem;
}

li {
  margin-bottom: 0.5rem;
  color: var(--text);
  list-style-type: disc;
}

.timeline ul li {
  line-height: 1.6;
}
